body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#00416d;
    background-image: url("1.jpg");
}
b{
    vertical-align: middle;
}
label{
    vertical-align: middle;
}
input{
    vertical-align: middle;
}
output{
    vertical-align: middle;
}
.generator {
    background-color: rgba(255, 255, 255, 0.3 );
    border: 1px solid black;
    border-radius: 15px;
    width: 450px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    overflow: auto;
}
.spaceholder {
    width: 100%;
    height: 20px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0 );
    color: rgba(255, 255, 255, 0);
}
.top {
    font-size: 14px;
    margin:auto;
}
.middle {
    margin:auto;
    overflow: auto;
}
.bottom {
    font-size: 14px;
    margin:auto;
    overflow: auto;
}
.pwlength {
    width: 200px;
    color: rgb(11, 95, 153);
}
.safetyIndicator {
    width: 100px;
    height: 20px;
    background-color: #00bf39;
    color: white;
    border: 0px solid black;
    border-radius: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 750;
    text-align: center;
    float: right;
}
.pw {
    width: 370px;
    line-height: 14px;
    float:right;
}